/* Divider 1 & 2 Wrap */

#divider01
  background url("../img/divider.jpg") no-repeat center center
  background-size cover
  min-height 400px
  padding-top 120px

  h3
    font-size 34px
    color #fff

  h4
    padding-top 15px
    color #fff

#divider02
  background-color #06979e
  height 150px
  padding-top 55px

  h3
    color #fff
    padding-right 40px

  h3,
  button
    display inline
    vertical-align middle