/* Pricing Wrap */
#pricingwrap {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 120px;
}
#pricingwrap small {
  padding-left: 10px;
}
.panel {
  text-align: center;
}
.panel-custom {
  border-color: #06979e;
}
.panel-custom > .panel-heading {
  background-color: #06979e;
  color: #fff;
}
.panel-heading > .panel-title {
  font-weight: 900;
  text-transform: uppercase;
}
.panel-body {
  padding: 0px;
  text-align: center;
}
.the-price {
  background-color: rgba(220,220,220,0.17);
  box-shadow: 0 1px 0 #dcdcdc, inset 0 1px 0 #dcdcdc;
  padding: 20px;
  margin: 0;
}
.the-price h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1em;
  padding: 0;
  margin: 0;
}
.subscript {
  font-size: 25px;
  font-weight: 400;
}
