body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333;
}
/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}
/* Links */
a {
  color: #06979e;
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
ahover,
afocus {
  color: #05888e;
  text-decoration: none;
  outline: 0;
}
abefore,
aafter {
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
hr {
  display: block;
  width: 500px;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}
.pad-top {
  padding-top: 80px;
}
