/* Navigation
--------------------------------------------------------------------- */

.navbar-default 
  font-family 'Lato', sans-serif
  font-size 13px
  font-weight 400
  text-transform uppercase
  letter-spacing 2px
  padding-top 20px
  padding-bottom 20px
  background-color #fff

  .navbar-toggle
    border 0

  .navbar-togglehover,
  .navbar-togglefocus
    background-color transparent


  .navbar-toggle > .icon-bar
    background-color #06979e


  .navbar-brand
    color #06979e


  .navbar-brandhover
    color #bdc3c7


  .navbar-nav > li > a
    color #06979e


  .navbar-nav > li > ahover,
  .navbar-nav > li > afocus
    color #bdc3c7
    background-color transparent


  .navbar-nav > .active > a,
  .navbar-nav > .active > ahover,
  .navbar-nav > .active > afocus
    background-color transparent
    color #bdc3c7


  .navbar-right a[type="button"]
    padding 6px 20px 6px 20px
    color #fff


  .navbar-right a[type="button"]hover,
  .navbar-right a[type="button"]focus
    background-color transparent
    color #06979e