// Import de Nib para los mixins
@import(nib)

// Import del archivo base de la hoja de estilos - Reconfigura el bootstrap por defecto
@import(base)

// Import del archivo de botones
@import(buttons)

// Import el archivo para la barra de navegacion
@import(navigation)

// Import de los archivos para el wrapper

// Header
@import("wrap/header")

// Intro
@import("wrap/intro")

// Features
@import("wrap/features")

// Divider
@import("wrap/divider")

// Pricing
@import("wrap/pricing")

// Footer
@import("wrap/footer")

// Copiright
@import("wrap/copyright")

// Singing
@import("wrap/singing")

// Medias Queris
@import(responsive)
